@page "/addmhs"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<input @bind="newNama" placeholder="Nama" />
<input @bind="newNim" placeholder="Nim" />
<input @bind="newAlamat" placeholder="Alamat" />
<input @bind="newEmail" placeholder="Email" />
<input @bind="newFoto" placeholder="Foto" />
<input @bind="newNimprogmob" placeholder="Nim_progmob" />
<button @onclick="AddMhs">Add</button>

@code {
    public int newid ;
    public string? newNama;
    public string? newNim;
    public string? newAlamat;
    public string? newEmail;
    public string? newFoto;
    public string? newNimprogmob;

    public async Task AddMhs()
    {
        var addItem = new Mahasiswa {  nama = newNama, nim = newNim, alamat = newAlamat, email = newEmail, foto = newFoto,nim_progmob = newNimprogmob };
        await Http.PostAsJsonAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/create", addItem);
    }
} 