@page "/consume-component-3"
@using ComponentLibrary
<link href="_content/ComponentLibrary/additionalStyles.css" rel="stylesheet" />
<h1>Consume component (<code>additionalStyles.css</code> example)</h1>

<ExtraStyles />