@page "/deletemhs"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<input @bind="@delnim" />
<input @bind="@delnim_progmob" />

<button @onclick="DeleteMhs">Update</button>

@code {
    public string? delnim;

    public string? delnim_progmob;
 

    public async Task DeleteMhs()
    {
        await Http.DeleteAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/delete");
    }
}